.add-to-library-form-container{
    background-color: #2F3855;
    border: none;
    color: #02D4F5;
}

.submit-btn {
    border: solid black 3px;
    background-color: #02D4F5;
}

form{
    padding: 2em;
}