nav.navbar.navbar-expand-md.navbar-light.bg-light {
    background-color: #2F3855 !important;
}

#spin-title {
    font-weight: 200;
    font-size: 4em;
}


a{
    color: #02D4F5 !important;
    font-size: 2em;
}

