.track-info-container {
    display: inline;
    /* border: solid green 2px; */
}

.track-info-list-item {
    margin: 1em 0;
}

.track-info-list-item > div > div > div{
    /* border: solid red 2px; */
    display: inline;
}

.first-line {
    font-size: 1.6em;
    font-weight: 200;
}

.second-line {
    font-weight: 200;
}

.album {
    font-style: italic;
}

.collapse-button {
    /* display: inline-block; */
    /* position: absolute; */
    /* left: 5em; */

}

.test {
    /* position: absolute;
    top: 6.3em; */
    /* left: 25em; */
}

.card-container {
    border: none;
    background-color: #02D4F5;
    color: black;
}

.trash-icon {
    width: 2em;
}

.card-body {
    width: 17.4em;
    background-color: #02D4F5;
}