.track-info-container {
    display: inline;
    /* border: solid green 2px; */
}

.track-info-list-item {
    margin: 1em 0;
}

.track-info-list-item > div > div > div{
    /* border: solid red 2px; */
    display: inline;
}

.first-line {
    font-size: 1.6em;
    font-weight: 200;
}

.second-line {
    font-weight: 200;
}

.album {
    font-style: italic;
}

.collapse-button {
    /* display: inline-block; */
    /* position: absolute; */
    /* left: 5em; */

}