.header-bar {
    background: linear-gradient(#2F3855 70%, rgba(255, 0, 0, 0));
    height: 16em;
}

.track-info-list{
    margin-top: 15.4em;
}

#search-field {
    margin: 1em 0 1em 1em;
    display: block;
}