body {
  background-color: #2F3855;
  color: #02D4F5;
  font-weight: 200;
  text-shadow: -1px 1.4px #0000008f;
}

.main-button {
  /* border: solid #86c7ff 5px; */
  color: black;
  font-size: 2em;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  margin: -1em 0 0 0;
  background-color: #02D4F5;
  font-weight: 200;
  box-shadow: 1px 1px 3px #0000001f, 0px 0px 1px #0d0d0d00; 
  margin: .7em;
}

.track-info-list {
  list-style-type: none;
  margin-left: -2em;
  margin-top: 14em !important;
  /* display: none; */
}

#login-title {
  font-weight: 200;
  font-size: 4em;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite .6s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
